<%- include ('../partials/head.ejs'); %>
<div class="container-xxl position-relative bg-white d-flex p-0">
<%- include ('../layouts/spinner.ejs'); %>
<%- include ('../layouts/sidebar.ejs'); %>

<div class="content">
    <%- include ('../layouts/navbar.ejs'); %>

    <div class="container-fluid pt-4 px-4 border">
        <div class="card" style="height: 75vh;">
            <div class="card-header bg-light">
                Filtrar Ingresos
            </div>
            <div class="card-body">
                <div class="accordion accordion-flush border" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Filtrar
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <form class="row g-3 needs-validation" id="formFilters">
                                <div class="col-md-6">
                                  <label for="validationCustom01" class="form-label">Fecha Inicial</label>
                                  <input type="datetime-local" class="form-control" id="dateStart" value="Mark" required>
                                </div>
                                <div class="col-md-6">
                                  <label for="validationCustom02" class="form-label">Fecha Final</label>
                                  <input type="datetime-local" class="form-control" id="dateEnd" value="Otto" required>
                                </div>
                                <div class="col-12">
                                  <button class="btn btn-primary" type="submit">Aplicar</button>
                                </div>
                              </form>
                        </div>    
                      </div>
                    </div>
                  </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped small table-bordered">
                        <thead class="table-primary">
                            <tr>
                                <th>dni</th>
                                <th>Apellido</th>
                                <th>Nombre</th>
                                <th>Domicilio</th>
                                <th>Clase</th>
                                <th>Fecha y Hora</th>
                            </tr>
                        </thead>
                        <tbody id="registers">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script
    src="/js/entries/show.js"
    ></script>

    <%- include ('../layouts/footer.ejs'); %>
</div>

</div>
<%- include ('../partials/bottom.ejs'); %>

